main.wrapper div.parent_advertising {
    width: 87.5%;
    height: 241px;
    margin: 16px auto;
}

main.wrapper div.parent_advertising div.advertising {
    width: 100%;
    height: inherit;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

main.wrapper div.parent_advertising div.advertising a {
    width: 24%;
    height: inherit;
    border-radius: 16px;
}

main.wrapper div.parent_advertising div.advertising a img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 16px;
}