main.wrapper div.parent_advertising {
    width: 87.5%;
    height: 241px;
    margin: 16px auto;
}

main.wrapper div.parent_advertising div.advertising {
    width: 100%;
    height: inherit;
    text-align: center;
}

main.wrapper div.parent_advertising div.advertising a {
    width: 24.1%;
    height: inherit;
    display: inline-block;
    border-radius: 16px;
    margin-right: 12px;
}

main.wrapper div.parent_advertising div.advertising a:nth-of-type(1) {
    margin-right: -3px;
}

main.wrapper div.parent_advertising div.advertising a img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 16px;
}