main.wrapper div.parent_grouping2{
    width: 87.5%;
    height: 418px;
    margin: 16px auto;
}

main.wrapper div.parent_grouping2 div.grouping2{
    width: 100%;
    height: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224 224 241);
    border-radius: 16px;
}

main.wrapper div.parent_grouping2 div.grouping2 div.child{
    width: 25%;
    height: inherit;
    display: inline-block;
    margin-left: -4px;;
    border-right: 1px;
    border-right-style: solid;
    border-right-color: rgb(224 224 241);
}

main.wrapper div.parent_grouping2 div.grouping2 div.child:nth-of-type(1){
    border-right: unset;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

main.wrapper div.parent_grouping2 div.grouping2 div.child:nth-of-type(4){
    border-left: unset;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

main.wrapper div.parent_grouping2 div.grouping2 div.child div.text{
    width: 88%;
    height: 65px;
    padding-top: 12px;
    margin: 0 auto;
}

main.wrapper div.parent_grouping2 div.grouping2 div.child div.text h4{
    font-family: Yekan;
    font-size: 16px;
    font-weight: 700;
    color: rgb(35 37 78);
    margin-bottom: 8px;
}

main.wrapper div.parent_grouping2 div.grouping2 div.child div.text p{
    font-family: Yekan;
    font-size: 11px;
    font-weight: 400;
    color: rgb(129 133 139);
}

main.wrapper div.parent_grouping2 div.grouping2 div.child div.product{
    width: 88%;
    height: 293px;
    background-color: rgb(224 224 241);
    margin: 0 auto;
}

main.wrapper div.parent_grouping2 div.grouping2 div.child div.product div.products{
    width: 49.99%;
    height: 147px;
    display: inline-block;
    margin-left: -3px;
    border-bottom: 1px solid rgb(224 224 241) ;
}

main.wrapper div.parent_grouping2 div.grouping2 div.child div.product div.products a{
    width: 100%;
    height: inherit;
    display: block;
    background-color: white;
    text-align: center;
}

main.wrapper div.parent_grouping2 div.grouping2 div.child div.product div.products a img{
    width: 70%;
    height: auto;
    object-fit: cover;
    vertical-align: top;
    margin-top: 8px;
}

main.wrapper div.parent_grouping2 div.grouping2 div.child div.show{
    width: 88%;
    height: 26px;
    margin: 4px auto 12px auto;
    text-align: center;
    line-height: 26px;
}

main.wrapper div.parent_grouping2 div.grouping2 div.child div.show a{
    width: 100%;
    height: inherit;
}

main.wrapper div.parent_grouping2 div.grouping2 div.child div.show a span{
    font-family: Yekan;
    font-size: 12px;
    font-weight: 700;
    color: rgba(25 191 211);
}

