main.wrapper div.Stoy {
  width: 87.5%;
  height: 140px;
  margin: 0 auto;
  margin-top: 5px;
}

main.wrapper div.Stoy div.swiper1 {
  width: 100%;
  height: inherit;
}

main.wrapper div.Stoy div.swiper1 div.swiper-wrapper {
  width: 100%;
  height: inherit;
  margin-right: 8px;
}

main.wrapper div.Stoy div.swiper1 div.swiper-wrapper div.swiper-slide {
  width: 6.3%;
  height: 140px;
  padding: 16px 0;
}

main.wrapper div.Stoy div.swiper1 div.swiper-wrapper div.swiper-slide img {
  width: 55.5%;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
  outline: 3px solid #7d4c9e;
  outline-offset: 3px;
}

main.wrapper div.Stoy div.swiper1 div.swiper-wrapper div.swiper-slide p {
  font-family: Yekan;
  font-size: 12px;
  font-weight: 500;
  color: rgb(35 37 78);
  margin-top: 17px;
  line-height: 18px;
}